
/*kendo  styles overrides*/
.km-ios .km-navbar {
    background-color:darkgreen;
}

.km-loader {
    color: #fff;
    text-align:center;
}
/*style for all ButtonGroups inside view with id mt-home-main-view (home view)*/
.km-ios  #mt-home-main-view  .km-buttongroup  .km-button:not(.km-state-active)  {
    width:70px;
    font-size: 1em;
    background-color:gray;
    color:white;
    text-shadow:none;
}
.km-ios  #mt-home-main-view .km-buttongroup .km-state-active {
    width:70px;
    font-size: 1em;
    background-color:#FF6600;
    color:white;
    background-image:none;
 }

.km-ios6 *:not(.km-tabstrip):not(.km-buttongroup) > .km-button {
    background-color: rgb(31, 73, 33);
}

/*this removes the dirty blue line background
    when data-style="inset" is set for listviews
    */
.km-ios .km-insetcontent {
    background:none;
}


/*user styles*/

.listpadding {
    padding-left: 2em; padding-bottom: 1em; text-decoration: none;
}

.alignmiddle {
    vertical-align: middle;
}

.centerAlign {
    text-align:center;
}


h4 {
    color:#385487;
}

div.usracc-bkng-hstry-list {
    padding-left:10px;
}

.valueText {
    color: #385487;
    font-size: 14px;
}

#usracc-bkng-hstry-list.km-list {
    font-size:11px;
}

.mt-listitem-title {
    font-size:13px;
    font-weight:bold;
    color:darkblue;
    
}

.km-android .mt-listitem-title {
    font-size:13px;
    font-weight:bold;
    color:rgb(104, 188, 235);    
}

.mt-highlight-label {
    font-size: 12px;
    color:maroon;
}

.mt-highlight-label2 {
    font-size: 12px;
    color:green;
}

.mt-timings{
    color:green !important;
    text-decoration: none !important;
}

.mt-normal-label {
    font-size: 12px;
    font-weight:normal;
}

.mt-movie-details {
    font-size: 12px;
    padding-left:8px;
    font-weight:normal;
}

#mt-theaters-movie-details {
    min-height: 100px;    
}
.mt-title {
    font-weight:bold;
    font-size:18px;
}


.mt-ticket-num-input {
    width: 45px !important;
    position: relative !important;
    border: ridge !important;
    min-width: 45px !important;
}
.mt-total-amount {
    color:orangered;
    font-size:25px;
}
.mt-list-image {
    vertical-align:middle;    
}

.mt-purchase-button {
    background-color: orangered !important;
    width:100px;
}

.mt-session-details{
    padding: .5em 1em;
}
                