[class^="icon-"]:before, [class*=" icon-"]:before {
    display: inline !important;
    text-align: center !important;
}

[class^="icon-star"]:before, [class*=" icon-star"]:before {
    display: inline !important;
    color: gold;
}

.fa .km-icon:after,
.fa .km-icon:before
{
    font: 1em/1em "FontAwesome";
}

.km-calendar:after,
.km-calendar:before
{
    content: "\f073";
    text-align: center;
}

.km-info2:after,
.km-info2:before
{
    content: "\f129";
	text-align: center;
}

.km-users:after,
.km-users:before {
  content: "\f0c0";
    text-align: center;
}

.km-twitter:after,
.km-twitter:before {
  content: "\f099";
    text-align: center;
}

.km-home2:after,
.km-home2:before {
  content: "\f015";
    text-align: center;
}

.km-gears:after,
.km-gears:before {
  content: "\f085";
  text-align: center;
}

.content{
    padding: 1em 1em;
}

ul.k-tabstrip-items.k-reset{ display: none !important;}

.drawerstyle{ box-shadow: 1px 0px 1px #BBBBBB;}